<%= form_with(model: ocurrence, local: true) do |form| %>
  <% if ocurrence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ocurrence.errors.count, "error") %> prohibited this ocurrence from being saved:</h2>

      <ul>
      <% ocurrence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :cod %>
    <%= form.number_field :cod %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
