<p id="notice"><%= notice %></p>

<h1>Ocurrences</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Cod</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ocurrences.each do |ocurrence| %>
      <tr>
        <td><%= ocurrence.title %></td>
        <td><%= ocurrence.cod %></td>
        <td><%= ocurrence.description %></td>
        <td><%= link_to 'Show', ocurrence %></td>
        <td><%= link_to 'Edit', edit_ocurrence_path(ocurrence) %></td>
        <td><%= link_to 'Destroy', ocurrence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ocurrence', new_ocurrence_path %>
